table {
	font-family: arial;
}
.customHeader { 
    background-color: black; 
	color: white;
	text-align: center;
}

tr.customBody:hover td {
	background-color: grey;
	color: white;
} 

tr.r0 td {
	background-color: white;
	color: black;
}

tr.r1 td {
	background-color: lightgrey;
	color: black;
}

thead tr td:hover {
	cursor: pointer
}
